@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a,
a:hover,
button,
button:hover,
.anime {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer; }

ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0; }

body, html {
  overflow-x: hidden;
  /*scroll issue*/ }

html {
  font-size: 0.52vmax; }

body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  overflow-y: hidden; }

.container {
  width: 93.75vw;
  height: auto;
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

h1 {
  margin-bottom: 2.08vw;
  font-size: 2.4rem;
  line-height: 3.7rem;
  font-weight: 600;
  color: #0C4DA2; }
  h1.no_bottom_margin {
    margin-bottom: 0; }

h2 {
  margin: 0 0 1.67vw;
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 600;
  color: #0A0A0A; }

label {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  color: #0A0A0A; }
  label input {
    width: 10vw;
    height: 2.08vw;
    margin-left: 0.84vw;
    margin-bottom: 1.67vw;
    padding: 0.52vw;
    border-radius: 0.21vw;
    border: 1px solid #0A0A0A;
    -webkit-box-shadow: 0px 0.21vw 0.21vw rgba(0, 0, 0, 0.25);
            box-shadow: 0px 0.21vw 0.21vw rgba(0, 0, 0, 0.25); }

.section_header {
  text-align: center; }

.custom_file_input {
  width: 5vw;
  height: 4vw;
  color: transparent;
  cursor: pointer; }
  .custom_file_input::-webkit-file-upload-button {
    visibility: hidden; }
  .custom_file_input:before {
    width: 3vw;
    height: 3.6vw;
    display: inline-block;
    content: '';
    background-image: url("../images/icons/select_files_icon.png");
    background-size: cover; }

.button {
  padding: 1.25vw 5vw;
  margin: 0 auto 2.08vw;
  display: block;
  cursor: pointer;
  border-radius: 0.21vw;
  border: none;
  background-color: #0C4DA2;
  font-weight: 700;
  font-size: 2rem;
  color: #fff; }

.close_btn {
  width: 1.25vw;
  height: 1.25vw;
  margin: 1vw;
  cursor: pointer; }
  .close_btn svg {
    width: 100%;
    height: 100%; }
  .close_btn.blue svg {
    fill: #0C4DA2; }
  .close_btn.black svg {
    fill: #0A0A0A; }

.table_caption {
  margin-bottom: 0.84vw;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600;
  text-align: center;
  color: #0C4DA2; }

.table {
  margin-bottom: 2.6vw; }

table {
  border: 1px solid #0A0A0A;
  border-spacing: 0; }
  table thead {
    background-color: #0C4DA2;
    color: #fff; }
  table tr:last-child {
    border-bottom: none; }
  table tr th,
  table tr td {
    height: 2.6vw;
    padding: 0.52vw;
    border-right: 1px solid #0A0A0A;
    line-height: 2.7rem; }
    table tr th:last-child,
    table tr td:last-child {
      border-right: none; }
    table tr th.width_70,
    table tr td.width_70 {
      width: 70%; }
    table tr th.width_50,
    table tr td.width_50 {
      width: 50%; }
    table tr th.width_20,
    table tr td.width_20 {
      width: 20%; }
    table tr th.width_30,
    table tr td.width_30 {
      width: 30%; }
    table tr th.align_right,
    table tr td.align_right {
      padding-right: 2.08vw;
      text-align: right; }
    table tr th.align_center,
    table tr td.align_center {
      text-align: center; }
    table tr th.strong,
    table tr td.strong {
      font-weight: 600; }
    table tr th.total_sum,
    table tr td.total_sum {
      font-size: 2.4rem; }
  table tr.border_bottom td {
    border-bottom: 1px solid #0A0A0A; }

span {
  font-weight: 700;
  color: #0C4DA2; }

.align_text_right {
  text-align: right; }

.align_text_left {
  text-align: left; }

.slides {
  width: 100%;
  height: auto;
  padding-bottom: 3.125vw;
  list-style: none; }
  .slides input {
    display: none; }
  .slides .slide_container {
    width: 85vw;
    height: 44.58vw;
    margin-left: -5.6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    opacity: 0;
    position: absolute;
    top: 9.69vw;
    left: 15.63vw;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out; }
    .slides .slide_container .left_part {
      width: 35vw;
      height: 100%;
      margin-right: 4.17vw;
      position: relative; }
    .slides .slide_container .right_part {
      width: 50vw;
      height: 100%;
      font-size: 2.4rem;
      line-height: 4.4rem; }
      .slides .slide_container .right_part.top_padding {
        padding-top: 5vw; }
      .slides .slide_container .right_part p {
        width: 40vw;
        margin-top: 0;
        font-size: 2.2rem; }
      .slides .slide_container .right_part ul {
        padding-top: 0;
        list-style: none;
        /* Remove list bullets */ }
        .slides .slide_container .right_part ul li:before {
          content: "•";
          /* Insert content that looks like bullets */
          padding: 0 8px;
          font-size: 5rem;
          color: #0C4DA2;
          display: inline-block;
          margin: 0; }
  .slides input:checked + .slide_container {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; }
  .slides .nav_dots {
    height: 10.41vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 3.125vw;
    top: calc(50% - 5.21vw); }
    .slides .nav_dots .nav_dot {
      width: 0.52vw;
      height: 0.52vw;
      border-radius: 50%;
      background-color: #0C4DA2; }
  .slides input#slide_1:checked ~ .nav_dots label#slide_dot_1,
  .slides input#slide_2:checked ~ .nav_dots label#slide_dot_2,
  .slides input#slide_3:checked ~ .nav_dots label#slide_dot_3,
  .slides input#slide_4:checked ~ .nav_dots label#slide_dot_4,
  .slides input#slide_6:checked ~ .nav_dots label#slide_dot_6,
  .slides input#slide_5:checked ~ .nav_dots label#slide_dot_5 {
    width: 0.84vw;
    height: 0.84vw; }

.header_main {
  width: 91.56vw;
  height: 4.17vw;
  position: absolute;
  top: 0;
  left: 8.44vw;
  right: 0;
  background-image: url("../images/backgrounds/header_bg.png");
  background-size: cover; }
  .header_main .container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 1.67vw;
    padding-right: 3.125vw; }
  .header_main .left_part,
  .header_main .right_part {
    width: auto;
    height: 100%; }
  .header_main .header_logo {
    width: 8.28vw;
    height: 3.44vw;
    display: block; }
    .header_main .header_logo img {
      width: 100%;
      height: 100%; }
  .header_main .main_menu ul {
    list-style: none;
    font-size: 2rem;
    font-weight: 600;
    color: #fff; }
  .header_main .main_menu .main_item {
    height: 4.17vw;
    margin-right: 1.67vw;
    padding: 0.84vw;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header_main .main_menu .main_item a {
      text-decoration: none;
      color: #fff;
      position: relative; }
    .header_main .main_menu .main_item:last-child {
      margin-right: 0; }
    .header_main .main_menu .main_item:hover:after {
      width: 100%;
      height: 0.21vw;
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #fff; }
  .header_main .main_menu .has_submenu {
    padding-right: 1.67vw; }
    .header_main .main_menu .has_submenu:before {
      position: absolute;
      content: '';
      right: -0.84vw;
      top: 50%;
      width: 0;
      height: 0;
      border-left: 0.52vw solid transparent;
      border-right: 0.52vw solid transparent;
      border-top: 0.35vw solid #fff; }
    .header_main .main_menu .has_submenu:hover .submenu {
      display: block; }
    .header_main .main_menu .has_submenu .submenu {
      width: 12vw;
      height: auto;
      padding-left: 0;
      position: absolute;
      left: 0;
      top: 4.2vw;
      background-color: #fff;
      z-index: 100;
      display: none;
      font-weight: 500;
      font-size: 1.8rem; }
      .header_main .main_menu .has_submenu .submenu li {
        width: 100%;
        height: 2.6vw;
        margin-bottom: 1px;
        padding: 0.84vw 0.52vw;
        background-color: #0C4DA2; }
        .header_main .main_menu .has_submenu .submenu li:hover {
          background-color: #00B1EB; }
  .header_main .main_menu .submenu {
    display: none; }
  .header_main .language_selector {
    width: 3.125vw;
    height: auto;
    margin-left: 5.21vw;
    font-size: 2rem;
    font-weight: 600;
    color: #fff; }

.home_page,
.page_content {
  width: 100%;
  height: 100vh; }
  .home_page .main_slider,
  .page_content .main_slider {
    width: 100%; }

.page_content {
  padding: 6.09vw 3.125vw 0 11.98vw;
  overflow-y: scroll; }

.upload_data_block {
  padding-left: 3.125vw;
  padding-right: 6.09vw; }
  .upload_data_block .upload_files_section {
    width: 79vw;
    height: auto;
    padding: 1.67vw 3.44vw 2.08vw;
    margin-bottom: 2.08vw;
    border: 1px solid #0A0A0A;
    border-radius: 0.21vw; }
  .upload_data_block .uploaded_files {
    margin-top: 0.5vw;
    padding-left: 3vw; }
    .upload_data_block .uploaded_files__item {
      width: 50%;
      margin-right: 2vw; }
  .upload_data_block .results_thumbnails__item {
    width: 6.88vw;
    height: 9.69vw;
    margin-right: 1vw; }
    .upload_data_block .results_thumbnails__item img {
      width: 100%;
      height: 100%; }

.price_tables {
  width: 33.44vw;
  height: auto;
  margin-left: 1.25vw;
  margin-right: 2.08vw;
  border: 1ps solid #0A0A0A; }

.price_caclulator {
  width: 46.35vw;
  height: auto;
  line-height: 2.7rem; }
  .price_caclulator .table {
    width: 40vw; }
  .price_caclulator .product_selector,
  .price_caclulator .document_scale_selector {
    width: 100%;
    height: auto;
    margin-bottom: 2.6vw; }
  .price_caclulator .product_items {
    width: 100%;
    padding-left: 0;
    list-style: none; }
    .price_caclulator .product_items label {
      width: 100%;
      height: 100%;
      padding: 0 0.52vw;
      font-weight: 400;
      font-size: 1.6rem;
      border: 1px solid #0C4DA2;
      border-radius: 0.21vw;
      text-align: center; }
      .price_caclulator .product_items label p {
        margin: 0 0 0.21vw; }
    .price_caclulator .product_items .product_item {
      width: 31%;
      height: 7.81vw;
      cursor: pointer; }
      .price_caclulator .product_items .product_item:last-child {
        margin-right: 0; }
    .price_caclulator .product_items input[type="checkbox"] {
      display: none; }
      .price_caclulator .product_items input[type="checkbox"]:checked + label {
        border: 1px solid #0C4DA2;
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
        .price_caclulator .product_items input[type="checkbox"]:checked + label .checked_icon {
          display: block; }
  .price_caclulator .checked_icon {
    width: 1.93vw;
    height: 1.25vw;
    margin: 0 auto;
    display: none; }
    .price_caclulator .checked_icon svg {
      width: 100%;
      height: 100%;
      fill: #0C4DA2; }
  .price_caclulator .scale_items {
    width: 100%;
    padding-left: 0;
    list-style: none;
    position: relative; }
    .price_caclulator .scale_items:before {
      width: 93%;
      height: 2px;
      margin: 0 1.25vw;
      content: '';
      position: absolute;
      top: 0.35vw;
      left: 0;
      background-color: #0C4DA2; }
    .price_caclulator .scale_items label {
      width: 0.84vw;
      height: 0.84vw;
      margin: 0 auto 0.52vw;
      display: block;
      font-weight: 400;
      font-size: 1.6rem;
      background-color: #0C4DA2;
      border-radius: 50%;
      cursor: pointer; }
      .price_caclulator .scale_items label p {
        margin: 0 0 0.21vw; }
    .price_caclulator .scale_items input[type="radio"] {
      display: none; }
      .price_caclulator .scale_items input[type="radio"]:checked + label {
        -webkit-transform: scale(1.5);
                transform: scale(1.5); }

.main_header {
  margin-top: 1vw;
  margin-bottom: 2.6vw;
  font-size: 9.6rem;
  font-weight: 700;
  text-align: right; }

.main_subheader {
  margin-bottom: 4vw;
  font-size: 3.6rem;
  font-weight: 700;
  text-align: right; }

.more_details_btn {
  width: 3.75vw;
  height: 4.06vw;
  margin-bottom: 3.75vw;
  float: right; }
  .more_details_btn svg {
    width: 100%;
    height: 100%;
    fill: #0C4DA2; }

.slide_img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 7vw;
  right: 0; }
  .slide_img img {
    width: 100%;
    height: auto; }
  .slide_img.custom_img {
    width: auto;
    height: 18.54vw; }
    .slide_img.custom_img img {
      height: 100%;
      width: auto; }

.main_sidebar {
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0; }

.sidebar_nav ul {
  padding-left: 0;
  list-style: none; }

.sidebar_item {
  width: 10vw;
  height: 6.09vw;
  margin-bottom: 1px;
  background-color: #0C4DA2; }
  .sidebar_item:hover .hint {
    display: block; }
  .sidebar_item a {
    height: 100%;
    margin-right: 1.5vw;
    text-decoration: none; }
  .sidebar_item .hint {
    width: 25.78vw;
    height: 100%;
    padding-left: 3vw;
    display: none;
    background-color: #0C4DA2;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 6.09vw;
    text-transform: uppercase;
    color: #fff; }

.btn_icon {
  width: 3.44vw;
  height: 3.44vw;
  margin-left: 5vw; }
  .btn_icon img {
    width: 100%;
    height: 100%; }

.footer_main {
  position: absolute;
  right: 3.125vw;
  bottom: 1.93vw; }

.footer_link {
  font-weight: 600;
  color: #0C4DA2;
  text-decoration: none; }
  .footer_link:hover {
    text-decoration: underline; }
