* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a,
a:hover,
button,
button:hover,
.anime {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer; }

html,
body {
  width: auto !important;
  /* Firefox will set width as auto */
  width: 450px;
  /* As IE6 ignores !important it will set width as 1000px; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

html {
  font-size: 62.5%; }

body {
  background-image: url("../images/backgrounds/landing_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #fff; }

.container {
  width: 83.57vw;
  height: 100%;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 5.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5rem; }

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .75rem; }

.main,
.contact_popup {
  width: 100%;
  height: 100%;
  padding-top: 2.86vw; }

.main h1 {
  margin-bottom: 3.57vw; }

.main h2 {
  margin-bottom: 2.86vw; }

.main .short_description {
  width: 40vw;
  margin-bottom: 4.64vw;
  font-style: italic;
  line-height: 1.35; }

.main .button {
  padding: 1.07vw 3.57vw;
  border: 3px solid #fff;
  border-radius: 0.53vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center; }

.main a.button {
  color: #fff;
  text-decoration: none; }
  .main a.button:hover {
    background-color: #fff;
    color: #000; }

.main .instagram_feed {
  width: 42.86vw;
  height: 12.86vw;
  position: fixed;
  bottom: 0;
  right: 5%;
  overflow: hidden;
  z-index: 10;
  opacity: 0; }
  .main .instagram_feed.open {
    opacity: 1;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
  .main .instagram_feed .feed_item {
    width: auto;
    height: 100%;
    margin-right: 2.14vw;
    position: relative; }
    .main .instagram_feed .feed_item:last-child {
      margin-right: 0; }
    .main .instagram_feed .feed_item img {
      width: auto;
      height: 100%; }
    .main .instagram_feed .feed_item a {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: calc(50% - 6.5vw);
      left: calc(50% - 6.5vw);
      z-index: 20;
      background-image: url("../images/icons/play_icon.png");
      background-size: 3vw;
      background-position: center center;
      background-repeat: no-repeat; }
      .main .instagram_feed .feed_item a:hover {
        background-size: 3.5vw; }
    .main .instagram_feed .feed_item.without_play a {
      display: none; }

.contact_popup {
  padding: 5vw 20vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  overflow-y: scroll; }
  .contact_popup.open {
    display: block; }
  .contact_popup h2 {
    margin-top: 0;
    margin-bottom: 4vw; }
  .contact_popup .close_btn {
    width: 18px;
    height: 18px;
    cursor: pointer; }
    .contact_popup .close_btn svg {
      width: 100%;
      height: 100%;
      fill: #fff; }
  .contact_popup #send_message_form {
    width: 100%;
    height: auto; }
    .contact_popup #send_message_form .row {
      width: 100%;
      margin-bottom: 2vw; }
    .contact_popup #send_message_form .form_field {
      width: 100%;
      height: 5rem;
      padding: 1.07vw 2.14vw;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 2px;
      color: #fff; }
      .contact_popup #send_message_form .form_field:hover, .contact_popup #send_message_form .form_field:focus {
        border-color: blue;
        outline: none; }
      .contact_popup #send_message_form .form_field::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.6); }
      .contact_popup #send_message_form .form_field:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.6); }
      .contact_popup #send_message_form .form_field::-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.6); }
      .contact_popup #send_message_form .form_field::placeholder {
        color: rgba(255, 255, 255, 0.6); }
    .contact_popup #send_message_form .half-width {
      width: 50%;
      margin-right: 1.07vw; }
      .contact_popup #send_message_form .half-width:last-child {
        margin-right: 0; }
    .contact_popup #send_message_form .textarea {
      height: 18rem;
      margin-bottom: 0.53vw;
      resize: none; }
    .contact_popup #send_message_form .button {
      width: 100%;
      height: 5rem;
      border: none;
      text-transform: uppercase; }
    .contact_popup #send_message_form .remark {
      width: 100%;
      margin-bottom: 0.78vw;
      text-align: right;
      color: rgba(255, 255, 255, 0.8); }

@media all and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 2rem; }
  h1 {
    font-size: 4.25rem; }
  h2 {
    font-size: 2.65rem; }
  .contact_popup {
    padding: 5vw 15vw; }
  .main .short_description {
    width: 60vw; }
  .main .instagram_feed {
    width: 51vw;
    height: 16vw; }
    .main .instagram_feed .feed_item {
      margin-right: 1.5vw; }
      .main .instagram_feed .feed_item a {
        top: calc(50% - 7.5vw);
        left: calc(50% - 7.5vw); }
        .main .instagram_feed .feed_item a:hover {
          top: calc(50% - 8vw);
          left: calc(50% - 8vw); } }

@media all and (max-width: 768px) {
  body {
    font-size: 1.8rem; }
  .container {
    width: 90%; }
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 1.15rem; }
  .main {
    padding-top: 10vmin; }
    .main h1 {
      margin-bottom: 5vw; }
    .main h2 {
      margin-bottom: 5vw; }
    .main .short_description {
      width: 100%;
      margin-bottom: 12vw; }
    .main .button {
      padding: 1rem 3rem;
      font-size: 2rem; }
    .main .instagram_feed {
      width: 90%;
      height: 28vw;
      margin: 0 auto; }
      .main .instagram_feed .feed_item {
        margin-right: calc(50% - 42vw); }
        .main .instagram_feed .feed_item a {
          background-size: 7vw;
          top: calc(50% - 13.5vw);
          left: calc(50% - 13.5vw); }
          .main .instagram_feed .feed_item a:hover {
            top: calc(50% - 14vw);
            left: calc(50% - 14vw); }
  .contact_popup {
    padding: 2vw 10vw; }
    .contact_popup #send_message_form .row {
      margin-bottom: 0; }
    .contact_popup #send_message_form .form_field,
    .contact_popup #send_message_form .remark {
      margin-bottom: 1vw; }
    .contact_popup #send_message_form .half-width {
      width: 50%; }
    .contact_popup #send_message_form .textarea {
      height: 9rem; } }

@media all and (max-width: 450px) {
  .main, .contact_popup {
    height: auto; }
  .main {
    margin-bottom: 13.5vw; }
    .main .button {
      display: block;
      margin-bottom: 5vw;
      font-size: 1.2rem; }
    .main .instagram_feed {
      width: 90%;
      margin: 0 auto; }
      .main .instagram_feed .feed_item a {
        background-size: 9vw;
        top: calc(50% - 13.5vw);
        left: calc(50% - 13.5vw); }
        .main .instagram_feed .feed_item a:hover {
          background-size: 10vw; } }

@media all and (min-device-width: 320px) and (max-device-width: 960px) and (orientation: landscape) {
  .container {
    width: 95vw; }
  .main {
    padding-top: 3vmin; }
    .main h1 {
      margin-top: 0.35em;
      margin-bottom: 0.75em; }
    .main h2 {
      margin-bottom: 0.5em; }
    .main .short_description {
      width: 100%;
      margin-bottom: 1.75em; }
    .main .instagram_feed {
      width: 52vw;
      height: 15.5vw; }
      .main .instagram_feed .feed_item {
        margin-right: calc(50% - 24vw); } }

@media screen and (max-width: 320px) and (max-height: 600px) {
  body {
    font-size: 1.3rem; }
  .main {
    padding-top: 4vmin; }
    .main h1 {
      margin-top: 3vw;
      margin-bottom: 5vw; }
    .main h2 {
      margin-bottom: 5vw; }
    .main .instagram_feed {
      width: 95vw;
      height: 26.5vw;
      margin: 0 auto;
      position: relative; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (-ms-accelerator: true), (-ms-ime-align: auto) {
  .main .instagram_feed {
    display: block; }
    .main .instagram_feed .feed_item {
      width: 12.86vw;
      margin-right: 1vw;
      float: left; }
      .main .instagram_feed .feed_item a {
        background-size: 25px; }
        .main .instagram_feed .feed_item a:hover {
          background-size: 30px; }
  .contact_popup .popup_header {
    display: block;
    overflow: hidden; }
  .contact_popup h2 {
    float: left; }
  .contact_popup .close_btn {
    float: right; }
  .contact_popup #send_message_form .row {
    display: block;
    overflow: hidden; }
    .contact_popup #send_message_form .row .half-width {
      width: 49%;
      float: left; } }

@media all and (max-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active), (-ms-accelerator: true), (-ms-ime-align: auto) {
  .main .instagram_feed .feed_item {
    width: 16vw;
    margin-right: 1vw;
    float: left; } }

@media all and (max-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active), (-ms-accelerator: true), (-ms-ime-align: auto) {
  .main .instagram_feed .feed_item {
    width: 28vw;
    margin-right: 1vw;
    float: left; }
    .main .instagram_feed .feed_item a {
      background-size: 50px; }
      .main .instagram_feed .feed_item a:hover {
        background-size: 55px; } }
