* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a,
a:hover,
button,
button:hover,
.anime {
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  cursor: pointer; }

h2 {
  margin: 0; }

body {
  background-color: #fff;
  background-image: url("../images/backgrounds/header_bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.46vmax;
  font-weight: 400;
  line-height: 1.36;
  color: #fff; }

.container {
  width: 66.67vw;
  padding: 1vw 0 3.125vw;
  margin: 0 auto;
  position: relative; }

.button {
  width: auto;
  background-color: #c40c11; }
  .button a {
    padding: 0.89vw 1.77vw;
    text-decoration: none;
    color: #fff; }
  .button:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

h1 {
  margin: 0;
  font-size: 2.87vmax;
  font-weight: 700; }

h2 {
  font-size: 2.5vmax; }

header {
  width: 100%;
  height: auto;
  margin-bottom: 5vw; }
  header .logo {
    width: 5.42vw;
    height: 2.71vw; }
    header .logo img {
      width: 100%;
      height: 100%; }
  header .select_language {
    margin-right: 1.3vw; }
  header .create_account_btn {
    width: 9.38vw;
    height: 2.34vw;
    -webkit-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(104deg, #ce2424, #c82222 13%, #bd1e1e 31%, #aa1616 53%, #8e0909 79%, #740000); }
    header .create_account_btn a {
      font-size: 0.73vmax;
      font-weight: 600; }

.general_info {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .general_info .trade_now_btn {
    width: 14.58vw;
    height: 3.39vw;
    margin-bottom: 3.125vw;
    -webkit-box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(104deg, #ce2424, #c82222 13%, #bd1e1e 31%, #aa1616 53%, #8e0909 79%, #740000);
    font-size: 1.1vmax;
    font-weight: 600; }
  .general_info .content {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .general_info .content .black_friday {
      width: 19.79vw;
      height: 7.45vw;
      margin-left: -1vw;
      margin-bottom: -1vw; }
      .general_info .content .black_friday img {
        width: 100%;
        height: 100%; }
    .general_info .content .discount {
      margin-bottom: -1vw;
      font-size: 4.17vmax;
      font-weight: 300;
      line-height: 1;
      text-transform: uppercase;
      color: #fff; }
    .general_info .content .discount_values {
      margin-left: -0.75vw;
      margin-bottom: 0.75vw; }
      .general_info .content .discount_values .odometer.odometer-auto-theme,
      .general_info .content .discount_values .odometer.odometer-theme-default {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 9.2vmax;
        font-weight: 600;
        text-align: right;
        line-height: 1; }
      .general_info .content .discount_values .percent_sign {
        margin-top: 1.2vw;
        margin-left: 0.75vw;
        font-size: 6.2vmax;
        font-weight: 600;
        line-height: 1; }
    .general_info .content .notes {
      margin-bottom: 2.75vw;
      font-size: 1vw; }
  .general_info .description {
    padding: 0 2vw;
    margin-bottom: 3.9vw;
    font-size: 1.5vw;
    line-height: 1.35;
    text-align: center; }
  .general_info .statistics_table {
    width: 100%;
    height: auto;
    padding-bottom: 18vw;
    margin-bottom: -20.5vw;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f1efef));
    background-image: linear-gradient(to bottom, #fff, #f1efef);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center 6vw; }
    .general_info .statistics_table .general_info {
      width: 19.79vw;
      margin-right: 1vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
              box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
      background-color: #f7f7f7; }
      .general_info .statistics_table .general_info__description, .general_info .statistics_table .general_info__link {
        width: 100%;
        padding: 1.55vw; }
      .general_info .statistics_table .general_info__description {
        font-size: 1.5vw;
        line-height: 1.19;
        text-align: left;
        color: #000; }
      .general_info .statistics_table .general_info__link {
        background-color: #fff;
        font-size: 0.83vw;
        text-align: left; }
        .general_info .statistics_table .general_info__link a {
          text-decoration: none;
          color: #25aae1; }
          .general_info .statistics_table .general_info__link a:hover {
            text-decoration: underline; }
    .general_info .statistics_table .table_right {
      width: 45.6vw;
      height: 19.4vw; }
      .general_info .statistics_table .table_right img {
        width: 100%;
        height: 100%; }
  .general_info .motivation_description {
    font-size: 1.5vw;
    line-height: 1.19;
    color: #000; }

footer {
  padding: 3vw 0 0;
  background-image: url("../images/backgrounds/footer_bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top; }
  footer .container {
    padding-bottom: 0; }
  footer h2 {
    margin-bottom: 2.34vw;
    font-size: 1.56vmax;
    font-weight: 700;
    text-align: center;
    color: #0d0d0d; }
  footer .licenses {
    margin-bottom: 3.44vw; }
    footer .licenses__item {
      width: 12.5vw;
      height: 15.78vw;
      margin-right: 1.3vw;
      -webkit-box-shadow: 0 0 1.77vw #998f8f;
              box-shadow: 0 0 1.77vw #998f8f; }
      footer .licenses__item:last-child {
        margin-right: 0; }
      footer .licenses__item img {
        width: 100%;
        height: 100%; }
  footer .warning {
    margin-bottom: 1vw;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.92vmax;
    font-weight: 300;
    line-height: 1.63;
    text-align: justify;
    color: #777; }
    footer .warning .caption {
      text-transform: uppercase; }
    footer .warning .link {
      text-decoration: none;
      color: #2d88e6; }
      footer .warning .link:hover {
        text-decoration: underline; }
  footer .copyright {
    padding: 1.4vw 0 3vw;
    font-size: 0.92vmax;
    text-align: center;
    color: #000; }
    footer .copyright .container {
      padding: 0; }

@media (max-width: 320px), (max-width: 480px), (max-width: 1024px) {
  body {
    background-image: url("../images/backgrounds/header_mobile_bg.png");
    font-size: 2.5vmin;
    z-index: 1; }
  .container {
    width: 90vw;
    padding: 4.03vw 0; }
  h1 {
    font-size: 3.75vmin; }
  h2 {
    font-size: 2.75vmin; }
  header {
    width: 100%;
    margin-bottom: 0; }
    header .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; }
    header .right_part {
      width: 100%;
      margin-bottom: 10vw;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    header .logo {
      width: 27.89vw;
      height: 13.87vw; }
    header .select_language {
      width: 11.27vw;
      height: 4vw;
      margin-right: 4.43vw; }
      header .select_language img {
        width: 100%;
        height: 100%; }
    header .create_account_btn {
      width: 28.66vw;
      height: 8.45vw; }
      header .create_account_btn a {
        font-size: 3.22vmin; }
  .general_info .content {
    margin-bottom: 2vmin; }
    .general_info .content .black_friday {
      width: 110%;
      height: 53.33vw;
      margin-left: -5vw;
      margin-bottom: -8vw; }
    .general_info .content .discount {
      font-size: 18.67vmin; }
    .general_info .content .discount_values {
      width: 43.44vw;
      margin-bottom: 14.67vw; }
      .general_info .content .discount_values .odometer.odometer-auto-theme,
      .general_info .content .discount_values .odometer.odometer-theme-default {
        font-size: 24vmin; }
      .general_info .content .discount_values .percent_sign {
        font-size: 15vmin; }
    .general_info .content .notes {
      width: 65%;
      margin: 0 auto;
      font-size: 4vmin; }
  .general_info .description {
    font-size: 6.5vmin; }
  .general_info .statistics_table {
    padding-bottom: 100vw;
    margin-bottom: -105vw; }
    .general_info .statistics_table .container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .general_info .statistics_table .container .general_info,
      .general_info .statistics_table .container .table_right {
        width: 100%;
        height: auto;
        padding: 4.55vw; }
      .general_info .statistics_table .container .general_info__description {
        margin-bottom: 22vmin;
        font-size: 8.5vmin;
        text-align: center; }
      .general_info .statistics_table .container .general_info__link {
        font-size: 3.83vmin;
        text-align: center; }
        .general_info .statistics_table .container .general_info__link a {
          line-height: 2.25; }
      .general_info .statistics_table .container .table_right img {
        height: 84vw;
        content: url("../images/content/table_right_mobile.png"); }
  .general_info .motivation_description {
    font-size: 6.5vmin; }
  .general_info .trade_now_btn {
    width: 75vw;
    height: 17.33vw;
    font-size: 6.5vmin; }
  footer {
    height: auto;
    padding: 7vmin 0 0;
    background-image: none;
    background-color: #f1efef; }
    footer h2 {
      margin-bottom: 6vw;
      font-size: 9vmin; }
    footer .licenses {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      footer .licenses__item {
        width: 46%;
        height: auto;
        margin-bottom: 8.45vw;
        -webkit-box-shadow: 0 0 6.5vw rgba(153, 143, 143, 0.6);
                box-shadow: 0 0 6.5vw rgba(153, 143, 143, 0.6); }
        footer .licenses__item:first-child {
          margin-left: 26%; }
    footer .warning {
      margin-bottom: 8vw;
      font-size: 4.35vmin;
      line-height: 1.48;
      text-align: center; }
    footer .copyright {
      width: 65vw;
      margin: 0 auto;
      padding-bottom: 15vw;
      font-size: 4.35vmin;
      line-height: 1.48;
      text-align: center; } }
